<header>
    <a class="logout" href="/logout">
        <div class="logout-button">
            Logout
        </div>
    </a>
    <!--<div class="search">
        <svg class="search-icon" style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="#4fa6de" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
        </svg>
        <input class="filtered-search" placeholder="Search username or messages" autocomplete="off" />
    </div>-->
</header>
<section>

    <div id="inner">
        <!--<form id="send_message" action="">
            <input id="user_input" placeholder="Type a new message and hit enter!" autocomplete="off" />
        </form>-->
        <br><button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#addDrink">Add a New Drink</button>
        <!--<ul id="messages">
            {{#each newsfeed}}
            <hr>
            <li>
                <div class="user">
                    <div class="user-image">
                        <img src="{{user.photo}}" alt="">
                    </div>
                    <div class="user-info">
                        <span class="username">{{user.username}}</span>
                        <br/>
                        <span class="posted">{{posted}}</span>
                    </div>
                </div>
                <div class="message-content">
                    {{message}}
                </div>
            </li>
            {{/each}}
        </ul>-->
        <span id = "commentedDrink" style="display:none">{{previous}}</span>
        <ul id="drinks">
            {{#each data}}
            <hr>
            <li class = "drink">
                <h3>{{this.name}}</h3>
                <i>{{type}}</i><br><br>
                <div class="description">{{{description}}}</div>
                <div class="commentbutton" style="text-align:right"><button class="viewcomments link">View/Add Comments<span class="glyphicon glyphicon-comment" style="margin-left:5px"></span></button></div>

                <div class="commentscontainer" style="display:none">
                  <ul class="comments">
                    {{#each comments}}
                    <li class="comment">
                      {{this.text}}
                    </li>
                    {{/each}}
                  </ul>
                  <form action="/comments" method="post" class="form-inline addCommentForm"><br>
                    <div class="form-group" style="width:100%">
                      <div class="col-md-9" style="padding:0px 2px">
                        <input type="text" class="form-control" name="text" style="width:100%" placeholder="Enter your comment...">
                        <input type="hidden" name="name" class="drinkNameInput">
                      </div>
                      <div class="col-md-3" style="padding:0px 2px">
                    	   <input type="submit" class="btn btn-secondary" value="Submit" style="width:100%">
                      </div>
                    </div>
                  </form>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</section>
<!-- START ADD MODAL-->
<div class="modal fade" id="addDrink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="exampleModalLabel">ADD DRINK</h2>
            </div>
            <div class="modal-body">
                <form method="POST" name="modalForm" class="form-horizontal ws-validate" id="addDrinkForm" action="drinks">
                    <div class="form-group">
                        <label for="modalName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input name="name" type="text" class="form-control" id="modalName" placeholder="some drink here TODO" required>
                            <p class="help-block" id="invalidName">Please enter first and last name. Ex: First Last</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="modalType" class="col-sm-2 control-label">Type</label>
                        <div class="col-sm-10">
                          <select class="form-control" id="modalType" name="type">
                            <option value="Starbucks">Starbucks</option>
                            <option value="Alcohol">Alcohol</option>
                            <option value="Other">Other</option>
                          </select>
                            <p class="help-block" id="invalidType">idk</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="modalDescription">Description</label>
                        <div class="col-sm-10">
                            <textarea name="description" rows="7" class="form-control" id="modalDescription" placeholder="stuff" required></textarea>
                            <p class="help-block" id="invalidDescription">TODO</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <button type="submit" class="btn btn-primary" id="okbutton">OK</button>
                            <button class="btn btn-default" data-dismiss="modal" id="cancelbutton">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END ADD MODAL-->
<footer>
    &copy; 2016. COGS 121 Spring 2016
</footer>
<script src="./js/jquery.min.js"></script>
<script src="./js/socket.io.min.js"></script>
<script src="./js/chatbox.js"></script>
<script src="./js/search.js"></script>

<script type = "text/javascript">
  $(function(){
    $('.viewcomments').click(function(){
      if($(this).text() == "Hide Comments")
      {
        $(this).html("View/Add Comments<span class=\"glyphicon glyphicon-comment\" style=\"margin-left:5px\"></span>");
        $(this).parent().next().css("display", "none");
      }
      else {
        $(this).html("Hide Comments<span class=\"glyphicon glyphicon-comment\" style=\"margin-left:5px\"></span>");
        $(this).parent().next().css("display", "block");
      }

    });
    var previousDrink = $('#commentedDrink').text();
    console.log(previousDrink);
    $("h3:contains(\'"+ previousDrink +"\')").parent().find('.viewcomments').trigger("click");
    //$("h3[text = \'"+ previousDrink +"\']").parent().find('.commentbutton').trigger("click");
    //console.log("new things" + $("h3[text = \'"+ previousDrink +"\']").text());
    console.log("new things " + $("h3:contains(\'"+ previousDrink +"\')").parent().find('.viewcomments').text());

    $('.addCommentForm').submit(function() {
      console.log("sup " + $(this).parent().parent().find('h3').text());
      $(this).find('.drinkNameInput').val($(this).parent().parent().find('h3').text());
      return true;
    });
  });
    /*$('#addDrinkForm').submit(function(){
      $('#modalDescription').val($('#modalDescription').val().replace(/(?:\r\n|\r|\n)/g, '<br />'));
      return true;
    });
    $('.drink').click(function(){
      $(this).css("background-color", "#eeeeee");
    })});*/
</script>
